.header {
  text-align: center;
  font-size: xx-large;
  font-style: normal;
  text-decoration: underline;
  color: #000;
}

.cal {
  font-size: x-large;
  color: #000;
}

body {
  background-color: yellow;
}
